/*
 * ~PATTERN SCAFFOLDING~
 */

$__ENVIRONMENT__: 'dev' !default;



@if( $__ENVIRONMENT__ != 'prod' ){

	//###[ BROWSER SYNC ]###############################################################################################

	@keyframes __by_notify__-enter {
		0% {
			opacity: 0;

			transform: translateX(100%);
		}

		10% {
			opacity: 1;

			transform: translateX(0);
		}

		80% {
			opacity: 1;

			transform: translateX(0);
		}

		100%{
			opacity: 0;

			transform: translateX(0);
		}
	}

	#__bs_notify__ {
		opacity: 0;

		transform: translateX(100%);

		top: auto !important;
		bottom: 0 !important;

		padding: 0.6em 0.75em !important;
		border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
		border-left: 1px solid rgba(255, 255, 255, 0.8) !important;
		border-bottom-left-radius: 0 !important;

		font-family: sans-serif !important;
		font-size: 1em !important;
		text-align: center !important;

		background-color: rgba(0, 0, 0, 0.8) !important;

		animation-name: __by_notify__-enter;
		animation-iteration-count: 1;
		animation-duration: 1500ms;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;

		&:before {
			content: '\26A1\00a0';
		}

		&:after {
			content: '\00a0\26A1';
		}
	}



	//###[ PATTERN LAB ]################################################################################################

	.sg-swatch {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 6rem;

		border: 1px solid lightgrey;
		border-radius: 5px;
		margin-bottom: 0.3rem;
	}



	.sg-swatches-headline {
		margin-bottom: 0.5rem;
	}



	.sg-label {
		display: block;

		margin-top: 1rem;

		font-size: 1rem;
		line-height: 1.5;
		text-align: center;
	}



	.sg-colors,
	.sg-icons {
		> ul {
			display: flex;
			flex-wrap: wrap;

			list-style: none !important;

			padding: 0 !important;
			margin: 0 !important;



			li {
				flex: auto;

				min-width: 112px;
				width: 112px;
				max-width: 112px;

				padding: 0.3rem;
				border: 1px solid lightgrey;
				border-radius: 8px;
				margin: 0 0.5rem 0.5rem 0;
			}
		}
	}

	.sg-colors + .sg-colors,
	.sg-icons + .sg-icons {
		padding-top: 1rem !important;
		margin-top: 0.5rem !important;
		border-top: 1px solid rgba(lightgrey, 0.5);
	}




	.sg-grid-container {
		max-width: 1200px;



		&.has__negative-background {
			background-color: black;
		}
	}



	//###[ PATTERNS ]###################################################################################################

	$PATTERN_MAX_WIDTH: 600px;



	//###( ATOMS )###

	// TEXT

	[id^='atoms-primary-headline'] {
		.atom-primary-headline {
			width: 100%;
			max-width: $PATTERN_MAX_WIDTH;
		}
	}



	[id^='atoms-secondary-headline'] {
		.atom-secondary-headline {
			width: 100%;
			max-width: $PATTERN_MAX_WIDTH;
		}
	}



	[id^='atoms-tertiary-headline'] {
		.atom-tertiary-headline {
			width: 100%;
			max-width: $PATTERN_MAX_WIDTH;
		}
	}



	[id^='atoms-quaternary-headline'] {
		.atom-quaternary-headline {
			width: 100%;
			max-width: $PATTERN_MAX_WIDTH;
		}
	}



	[id^='atoms-unordered-list'] {
		.atom-unordered-list {
			width: 100%;
			max-width: $PATTERN_MAX_WIDTH;
		}
	}



	[id^='atoms-ordered-list'] {
		.atom-ordered-list {
			width: 100%;
			max-width: $PATTERN_MAX_WIDTH;
		}
	}



	[id^='atoms-copytext'] {
		.atom-copytext {
			width: 100%;
			max-width: $PATTERN_MAX_WIDTH;
		}
	}



	// MEDIA

	[id^='atoms-content-image'] {
		.atom-content-image {
			img {
				width: 100%;
				max-width: $PATTERN_MAX_WIDTH;
			}
		}
	}



	[id^='atoms-media-caption'] {
		.atom-media-caption {
			width: 100%;
			max-width: $PATTERN_MAX_WIDTH;
		}
	}



	// FORMS

	[id^='atoms-text-input'] {
		.atom-text-input {
			width: 200px;
		}
	}



	[id^='atoms-input-label'] {
		.atom-input-label {
			width: 200px;
		}
	}



	//###( MOLECULES )###

	// MEDIA

	[id^='molecules-image'] {
		.sg-grid-container {
			width: 100%;
			max-width: $PATTERN_MAX_WIDTH;
		}
	}


	// FORMS

	[id^='molecules-form-field'] {
		.sg-grid-container {
			width: 200px;
		}
	}
}
