{#
	~MOLECULE FORM FIELD~
#}

<div class="molecule-form-field{{ style_modifier() }}">
	{% pattern 'atoms/input-label' with label %}
		{% block input %}
			{{ pattern('atoms/text-input', input) }}
		{% endblock %}
	{% endpattern %}
</div>
