{#
	~ORGANISM FORM~
#}

<form class="organism-form{{ style_modifier() }}">
	{% for field in fields %}
		{{ pattern('molecules/form-field', merge(field, {style_modifier : 'field'})) }}
	{% endfor %}
</form>

