{#
	~ORGANISM FORM~
#}

<form class="organism-form{{ style_modifier() }}">
	{% if image %}<img class="image" alt="image" src="{{ image.sources.small }}"/>{% endif %}

	{% for field in fields %}
		{% pattern 'molecules/form-field' with merge(field, {style_modifier : 'field'}) %}
	{% endfor %}
</form>

