{#
	~ORGANISM SECTION~
#}

<section class="organism-section{{ style_modifier() }}">
	{% if headline %}
		{{ pattern('atoms/secondary-headline', headline) }}
	{% endif %}
	<div class="content">{% block content %}{% endblock %}</div>
</section>
