{#
	~ORGANISM SECTION~
#}

<section class="organism-section{{ style_modifier() }}">
	{% if headline %}
		<div class="headline-holder"><h2 class="headline"></h2></div>
	{% endif %}
	<div class="content"></div>
</section>
