/*
 * ~ORGANISM SECTION~
 */



@use 'env/defines';



.organism-section {
	padding: 3rem 2rem;

	background-color: rgba(defines.$CICOLOR_GREY, 0.05);



	.content {
		max-width: 1200px;

		margin: 0 auto;
	}
}
