/*
 * ~ATOM UNORDERED LIST~
 */

.atom-unordered-list {
	list-style-position: inside;

	padding-left: 0;



	li {
		margin-top: 0.5em;
		margin-left: 1.5em;

		&:first-child {
			margin-top: 0;
		}
	}
}
