{#
	~ATOM INPUT LABEL~
#}

<label
	class="atom-input-label{% if required %}  is__required{% endif %}{{ style_modifier() }}"
	{% if for %}for="{{ for }}"{% endif %}
><span class="text">{{ text }}</span>{% block input %}{% endblock %}</label>
