/*
 * ~ATOM INPUT LABEL~
 */

@use 'env/defines';



.atom-input-label {
	&.is__required {
		.text {
			&::after {
				content: '*';

				margin-left: 0.5ex;

				color: defines.$CICOLOR_SECONDARY_GREEN;
			}
		}
	}
}

