/*
 * ~ATOM TEXT INPUT~
 */

@use 'env/defines' as *;



.atom-text-input {
	min-width: 200px;

	padding: 0.75ex 1ex;

	border: 1px solid $CICOLOR_GREY;

	&:focus {
		outline: none;
	}



	&[disabled],
	&.disabled {
		opacity: 0.5;
		cursor: default;
		pointer-events: none;
	}



	&::-ms-clear {
		width: 0;
		height: 0;
	}
}
